# python
__pycache__/
*.pyc

# logs
*.log
logs/
**/logs/

# env
.env
.env.*
env.env

# databases & dumps
*.db
*.sqlite
*.sqlite.sql

# runtime cache
data/cache_*.jsonl
antivirus-core/app/data/cache.db

# virtualenvs
venv/
.venv/
antivirus-core/venv/

.DS_Store
.vscode/
